<div class="col-md-10 col-md-offset-1">
<div class="col-md-3">

<p>
  <%= image_tag(@profile.image.url(:square) || "big-et.png", :class => "img-circle", :height => "200px") %>
</p>

</div>
<div class=" col-md-8">
  <h1>
  <%= @profile.display_name %>
</h1>

<p class="well">
  <%= @profile.bio %>
  <%= link_to 'Edit', edit_profile_path(@profile) %> 

</p>


<p>
  <%= link_to @profile.website, @profile.website, :target => "_blank" %>
</p>
</div>




</div>

<div class=" col-md-12">
	<hr/>
 <div class="col-md-10 col-md-offset-1">


<ul class="nav nav-pills">
  <li class="active"><a href="/<%= @profile.slug %>" >Latest</a></li>
  <li ><a href="<%= @profile.slug %>/popular" >Popular</a></li>
</ul>
<br/>

  <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
    <%= render 'shared/posts' %>

    </div>
    <br>
    <%= paginate @posts %>


</div>