<div class="container">
  <div class="row col-md-8">
    <h3>Users</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
        <%= paginate @users %>
    </div>
  </div>
<div class="col-md-4">
<br/>
  <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Stats</h3>
  </div>
  <div class="panel-body">
    <b>Views:</b>
    <%= @views %>
    <br/>
    <b>Posts:</b>
    <%= @posts.count %>
    <br/>
    <b>Tags:</b>
    <%= ActsAsTaggableOn::Tag.all.count %>
    <br/>
    <b>Users:</b>
    <%= @users.count %>


  </div>
</div>



</div>

</div>


