
    <% @posts.each do |post| %>
      <div class="col3 box">  
        <!-- <div id="embed" class="embed-responsive embed-responsive-16by9">
          <%#= raw(post.embed_code) %>
        </div>  -->
        <%= link_to image_tag(post.thumbnail, width: "250px"), user_post_path(:user_id => post.user.profile.slug, id: post.slug) %> 
        <h4>
          <%= link_to truncate(post.title, length: 30), user_post_path(id: post.slug, user_id: post.user.profile.slug) %><br/>
          <small>
          <% unless post.author.blank? %>
          by <%= link_to post.author, author_posts_path(:author => post.author) %> 
          <% end %>
          <% unless post.provider.blank? %>
          on <%= link_to post.provider, provider_posts_path(:provider => post.provider) %>
          <% end %>
          <br/>
          via <%= link_to post.user.profile.display_name || post.user.id, vanity_profile_path(:id => post.user.profile) %><br/>
          </small>
        </h4>
        <p>
   <%  post.tags.limit(3).each do |tag| %>
  <label class="label label-default">#<%= link_to truncate(tag.name, length: 10), tag_path(tag: tag), :class=>"white"%></label>
<% end %>
</p>       
        <br/>
    </div>
    <% end %>
 