<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :url, as: :hidden  %>
    <%= f.input :title, as: :hidden  %>
    <%= f.input :image, as: :hidden  %>
    <%= f.input :thumbnail, as: :hidden  %>
    <%= f.input :embed_code, as: :hidden  %>
    <%= f.input :description %>
    <%= f.input :author, as: :hidden  %>
    <%= f.input :author_url, as: :hidden  %>
    <%= f.input :provider, as: :hidden  %>
    <%= f.input :provider_url, as: :hidden  %>

    <% if user_signed_in? %>
    <% if current_user.try(:admin?) %>
    <%= f.input :hidden %>
    <%= f.input :featured %>
    <%= f.input :user_id, as: :hidden  %>
    <%= f.input :views, as: :hidden  %>
    <%= f.input :slug, as: :hidden %>
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list, :onfocus=>"this.value='';", :value=> @post.tags.map(&:name).join(","), :class=>"form-control" %>
    <br/><br/>
    <% end %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
