

<h1>New Post</h1>

<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :url %>
    <%= f.input :description %>
     <%= f.input :tag_list %>
    <%= f.input :provider, :disabled => true, :placeholder => "e.g. YouTube, Vimeo, Mixcloud, YouTube etc."  %>
   
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


