
   <%= render 'meta' %>

<div class="col-md-12 clearfix">

<h1>
  <%= link_to @post.title, @post.url, :target => "_blank" %><br/>
  <small>
  via <%= link_to @post.user.profile.display_name || @post.user.name, vanity_profile_path(@post.user.profile)  %>
  <% unless @post.author.blank? %> by <%= link_to @post.author, author_posts_path(@post.author)  %>
  <% end %>
  <% unless @post.provider.blank? %>
  on <%= link_to @post.provider, provider_posts_path(@post.provider) %>
  <% end %>
  </small>
</h1>

  <div class="col-md-8">


  <div id="embed" class="embed-responsive embed-responsive-16by9">
    <%= raw(@post.embed_code) %>
  </div>
<br/>

<% if user_signed_in? %>
    <% if  UserFav.where(:user_id => current_user.id, :post_id => @post.id).exists? %>
            <%= link_to raw("<i class='glyphicon glyphicon-heart-empty'></i>  Un-Favourite"), delete_user_favs_path(:user_fav => {:post_id => @post.id, :user_id => current_user.id}), :remote => true, class: "btn fav btn-default btn-sm", :method => :delete %>
        <% else %>
          <%= link_to raw("<i class='glyphicon glyphicon-heart'></i>  Favourite"), user_favs_path(:user_fav => {:post_id => @post.id,:user_id => current_user.id}), :remote => true, class: "btn fav btn-sm btn-default", :method => :post %>
    <% end %>
   <% end %>




</div>

  <div class="col-md-4">
    <p class="well">
  <%= auto_link(@post.description, :html => { :target => '_blank' }) %><br/><br/>
   <%= @post.created_at.strftime("%d %b. %Y") %>
</p>
  <label class="label label-success"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;
  <%= pluralize(@post.views, "view") %></label>
<br/>

 

<p>
   <%  @post.tag_list.each do |tag| %>
  <label class="label label-default">#<%= link_to tag, tag_path(tag: tag), :class=>"white"%></label>
<% end %>
</p>

<br/>

<ul class="nav social">
<li style="postion:absolute; top:-7px;"><%= like_button("1440239169528450", send: true, :url => post_url( :id => @post.id)) %></li>
<li><%= tweet_button(count: 'inline', :url => post_url( :id => @post.id), via: "embedtree") %></li>
<li><%= pinit_button %></li>
</ul>

<br/>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Favourited by</h3>
  </div>
  <div class="panel-body">
    <% @post.favourited_by.limit(6).each do |user| %>
      <%= link_to image_tag(user.profile.image.url(:thumb) || "http://res.cloudinary.com/dqiy3fupl/image/upload/c_fit,h_50,w_50/v1441999507/fwtfqghdcnua2z6nfsh6.png", :class => "img-circle"), vanity_profile_path(user.profile.slug) %>
    <% end %>

  </div>
</div>


<hr/>

<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
<%= link_to 'Edit', edit_post_path(@post) %> | 
<span><%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %></span>
<% end %>
<% end %>
  </div>



</div>

